@import "tailwindcss";

@layer base {
  html {
    font-size: 14px;
  }
}
html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
